body{
    font-family: "Montserrat";
}
.slider-container{
    position: relative;
    display: block;
}
.slider-container .slider .content img{
    width: auto;

    height: 100%;
}
.slider-container .slider-controls a{
    position: absolute;
    top: 45%;
    z-index: 100;
    color: #333333;
}
.slider-container .slider-controls a.slider-left{
    left: -25px;
}
.slider-container .slider-controls a.slider-right{
    right: -25px;
}
.thumbnail-slider-container{
    margin-top: 5px;
    margin-left: -100px;
}
.thumbnail-slider .content{
    padding:5px 30px;
}
#thumbnailSlider .img-responsive{
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}
/* .thumbnail-slider .owl-item.active.center{
    border: 3px solid #333333;
} */
.owl-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.owl-dots {
    counter-reset: dots;
}
.owl-dot:before {
    counter-increment:dots;
    content: counter(dots);
}
.align-middle, .slider-controls{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
footer{
    background-color: #13496d;
    color: #ebcdb1;
    position: absolute;
    width: 100%;
    left: 0;
}
main{
    position: absolute;
    width: 100%;
    left: 0;

}
}
footer a, footer a:hover, footer a:focus { 
    color: #ebcdb1;
}
main h1{
    color:#13496d;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}
main h2, main h3{
    color:#a88c67;
}
main h2{
    font-size: 40px;
    line-height: 50px;
}
main h3{
    font-size: 16px;
}
main p{
    font-size: 16px;
    line-height: 20px;
}
nav.navbar{
    min-height: 80px;
}
/* experimental */
.owl-controls {
    transform: translateY(-200px) !important;
    z-index: 999999;
}
.owl-dot.active:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 40px;
    margin-right: -100%;
    border-top: 1px solid #a88c67;
}
.owl-dots{
  margin: 20px 10px;
  padding: 20px 10px;
}
main hr{
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 300px;
    border-top: 1px solid #a88c67;
    margin-left: -150px;
}
main.col-md-7, main.col-lg-7, aside.col-md-5, aside.col-lg-5{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}
.navbar {
    border-right: solid #a88c67 80px;
}
button.btn.btn-default{
    background-color: #13496d;
    color: white;
}
.navbar-form{
    padding: 10px 0;
}

.form-control, button.btn.btn-default {
    border-radius: 50px;
  }
.form-control{
    padding: 10px 45px;
}
td{
    padding-right:10px;
}